root = true

[*.lua]
indent_style = space
quote_style = double
indent_size = 2
tab_width = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
charset = utf-8
continuation_indent = 2
