name: Linting

on: [push, pull_request]

jobs:
  selene:
    name: selene
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install Selene
        run: cargo install selene
      - name: Run Selene
        run: make lint
